
<!-- <table> -->
    <!-- <tr class="accueil"> -->
        <!-- <td style="width: 50%;"> -->
            <!-- <img id="LEFT_IBIS" alt="LOGO IBIS" src="@Url.Content("~/Content/Images/Logo/IMG_LOGO" + Session["_Logo"])" style="height: 300px; width: 100%; margin-top: 130px; padding-left: 10%" /> -->
        <!-- </td> -->
        <!-- <td> -->
            <!-- <img id="RIGTH_IBIS" alt="LOGO IBIS" src="@Url.Content("~/Content/Images/LogoCergi1.png")" style="height: 550px; width: 80%; margin-top: 110px; padding-left: 20%;" /> -->
        <!-- </td> -->
    <!-- </tr> -->
<!-- </table> -->

 <table>
    <tr id="accueil" class="accueil">
        <td style="width: 50%;">
            @*<img id="LEFT_IBIS" alt="LOGO IBIS" src="@Url.Content("~/Content/Images/Logo/" + Session["_Logo"])" style="height: 300px; width: 70%; margin-top: 130px; padding-left: 20%" />*@
        </td>
        <td>
            <img id="RIGTH_IBIS" alt="LOGO IBIS" src="@Url.Content("~/Content/Images/LogoCergi.png")" style="height: 350px; width: 90%; margin-top: 110px; padding-left: 5%;" />
        </td>
		 </tr>
		<tr id="accueil" class="accueil">
		<td style="height: 65px"></td>
    </tr>
	
</table>