<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
  </configSections>
  <!--<connectionStrings>
    <add name="PI_Entities" connectionString="metadata=res://*/PI_Model.csdl|res://*/PI_Model.ssdl|res://*/PI_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=BASE_REFERENCE;user id=sa;password=Cergi2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADOConnection" connectionString="data source=(local);initial catalog=BASE_REFERENCE;User Id=sa; Password=Cergi2015;" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="PI_Entities" connectionString="metadata=res://*/PI_Model.csdl|res://*/PI_Model.ssdl|res://*/PI_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CERGITECH15-PC\SQLEXPRESS2014;initial catalog=BASE_REFERENCE;user id=sa;password=Cergi2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADOConnection" connectionString="data source=CERGITECH15-PC\SQLEXPRESS;initial catalog=BASE_REFERENCE;User Id=sa; Password=Cergi2015;" />
   </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>